body {
    background: #000;
    background-size: cover;
    background-position: center;
    padding-bottom: none;
}

header nav div ul li a {
    font-family: 'Noto Serif Display', serif;

}

.img12 {
    position: relative;
    left: -200px;
    width: 550px;
    border-radius: 30%;
}

.motivasi {
    position: relative;
    right: 100px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Serif Display', serif;
    width: 400px;
    font-weight: bolder;
}

header {
    background: url(./src/1.jpeg);
    height: 660px;
    background-size: cover;
    padding-bottom: none;
    background-position: center;
    background-repeat: none;
}

.mail {
    position: relative;
    top: 3.5px;
}

.text {
    color: rgb(255, 255, 255);
}

.isi {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    top: -65px;
    text-align: justify;
}


.img2 {
    position: relative;
    text-align: right;
}

.isi1 {
    font-size: 20px;
    color: rgb(163, 255, 255);
}

.image,
.isi1,
.potrait1 {
    position: relative;
    left: -180px;
}

.nama {
    position: relative;
    right: 50px;
}

.Potrait {
    position: relative;
    top: -50px;
    color: rgb(8, 123, 255);
}


@media screen and (max-width : 992px) {
    .Potrait {
        position: relative;
        top: 0;
    }

    .nama {
        font-size: 30px;
        left: 0px;
    }

    .image {
        position: relative;
        padding-top: 100px;
    }

    .isi {
        position: relative;
        top: 0;
    }

    .img2 {
        text-align: left;
    }

    .image,
    .isi1,
    .potrait1 {
        position: relative;
        left: 0px;
    }

    .motivasi {
        position: relative;
        right: 0px;
    }

    .img12 {
        position: relative;
        left: -20px;
    }
}

/* photos on navbar */
/* Position the image container (needed to position the left and right arrows) */
.photo {
    position: relative;
    width: 400px;
    height: 300px;
    display: none;
    top: 70px;
    left: 320px;
}

photo:hover {
    display: block;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-photo {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}